#editor{
    height: 375px;
    background-color: white;
}

.CreatePost{
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

button.upload{
    margin: 0;
    margin-top: 10px;
    width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}