.menu-icon{
    height: 40px;
    max-width: 60vw;
}

.menu-icon:hover{
    /* border-radius: 5px;
    border-color: #28a745;
    border-style: solid; */
    /* outline-style: ;
    outline-color: #28a745;
    -moz-outline-radius: 5px; */
    /* background-color: blue; */
    background-color: #28a745;
    border-radius: 5px;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}

.category:focus{
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 5px;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
    color: #ffffff;
    outline: none;
}

.category:hover{
    color: #d41010;
}