.carousel{
    width: 100%;
    height: 100px;
    position: relative;
    background: rgb(246, 246, 246);
    overflow: hidden;
}

.slide{
    width: 100%;
    height: 70px;
    margin-top: 15px;
    /* background: rgb(156, 25, 25); */
    
    position: absolute;
}

.carousel-card{
    width: 28%;
    height: 100%;
    float: left;
    margin-left: 5%;
}

.carousel-card-img{
    height: 100%;
    width: auto;
}