.article-action{
    width: 100%;
    /* height: 50px; */
    background: rgb(226, 226, 226);
    display: block;
    margin-top: 30px;
}

.article-rating{
    float: left;
}

.article-admin{
    float: right;
}

/* Style buttons */
.article-btn {
    background-color: #009688; /* Blue background */
    border-radius: 50%;
    border: none; /* Remove borders */
    border: 3px solid #009688;
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    margin: 5px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.article-btn:hover {
    background-color: #00b9a7;
    border: 3px solid #00b9a7;
}

.article-btn:focus{
    background-color: #00b9a7;
    border: 3px solid #006359;
    outline: none;
}

.article-float-left{
    float: left;
}

.article-float-right{
    float: right;
}

div.article-container{
    width: 50vw;
    /* height: 700px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.news-title{
    margin-top: 30px;
}

.article-writer{
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

img.article-image{
    width: 100%;
    height: auto;
}

.news-body{
    width: 100%;
}

.comment-container{
    width: 100%;
    margin-top: 100px;
}

.comment{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.19);
    border-top: 1px solid rgba(0,0,0,0.19);
}

.comment-author{
    font-size: 13px;
}

.comment-new{
    margin-top: 50px;
    border-top: 1px solid black;
    padding: 5px;
    padding-top: 20px;
}
