.Newsfeed{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.noStyle{
    color: black;
    text-decoration: none;
}

.noStyle:hover{
    color: black;
    text-decoration: none;
}

.feedCard{
    width: 100%;
    /* height: 700px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* @media only screen and (max-width: 1500px){
    .feedCard{
        width: 50vw;
    }
}

@media only screen and (max-width: 1300px){
    .feedCard{
        width: 60vw;
    }
}

@media only screen and (max-width: 1000px){
    .feedCard{
        width: 70vw;
    }
}

@media only screen and (max-width: 800px){
    .feedCard{
        width: 80vw;
    }
}

@media only screen and (max-width: 600px){
    .feedCard{
        width: 90vw;
    }
} */

p.card-text{
    max-height: 100px;
    overflow: hidden;
}